<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script type="module" th:src="@{/js/ui.js}"></script>
  </head>
	<body>
		<div class="d-flex">
			<div th:replace="~{components/navbar}"></div>
			<div class="container mt-5">
			    <div class="row">
			        <div class="col-md-3 mb-4" th:each="product : ${products}">
			            <div class="card h-100 shadow-sm">
											<img th:src="${product.imgName}" 
													class="card-img-top" 
			                    alt="Product Image"
			                    style="height: 200px; object-fit: cover;">
			                
			                <div class="card-body d-flex flex-column">
			                    <h5 class="card-title" th:text="${product.name}">Product Name</h5>
			                    
			                    <!--<p class="card-text text-primary fw-bold" 
			                       th:text="${'₹' + product.price}">₹0.00</p>-->
													 <div class="d-flex justify-content-between">
	 			                    	<span class="card-text text-primary fw-bold" 
	 			                      	 th:text="${'₹' + product.price}">₹0.00</span>
															 <div sec:authorize="isAnonymous()">
															   <a th:href="@{/login}" class="btn btn-outline-primary">
															     Add to Cart
															   </a>
															 </div>
	
															 <div sec:authorize="isAuthenticated()">
															   <form th:action="@{/user/cart/add}" method="post">
															     <input type="hidden" name="product" th:value="${product.product_id}" />
																	 <input type="hidden" name="quantity" value="1" />
															     <button type="submit" class="btn btn-outline-primary">
															       Add to Cart
															     </button>
															   </form>
															 </div>
	 														<!--<input type="button" class="btn btn-outline-info" value="Add to Cart" />-->
	 													</div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</body>
</html>